.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: fit-content;
  justify-content: center;
  row-gap: 20px;
}

@media screen and (min-width: 630px) and (max-width: 950px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 951px) {
  .cards {
    column-gap: 17px;
    max-width: 880px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
