.footer__info {
  margin: 0;
  padding: 0;
  padding-left: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

@media screen and (min-width: 1024px) {
  .footer__info {
   padding-left: 0;
    font-size: 18px;
    line-height: 22px;
  }
}
