.header__logo {
  max-width: 104px;
  min-height: 25px;
  padding: 0 189px 31px 27px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    min-width: 142px;
    min-height: 33px;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    padding: 0 738px 41px 0;
  }
}
