 .header {
   margin: 28px auto 0;
   max-width: 880px;
   border-bottom: 1px solid rgba(84, 84, 84, .7);
   display: flex;
   justify-content: flex-start;
   box-sizing: border-box;
 }

 @media screen and (min-width: 1024px) {
   .header {
     margin-top: 45px;
   }
 }
