.popup__photo-container {
  position: relative;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .popup__photo-container {
    margin-top: 50px;
  }
}
