.popup__box {
  position: relative;
  margin: 123px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

@media screen and (min-width: 768px) {
  .popup__box {
    margin-top: 195px;
    width: 430px;
  }
}
