.profile__name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 19px 0 46px;
  min-width: 217px;
}

/*768px and higher break-point*/
@media screen and (min-width: 768px) {
  .profile__name-container {
    margin: 0;
    min-width: 336px;
  }

}
