.form__save-btn {
  width: 238px;
  border: none;
  margin: 45px auto 25px;
  padding: 14px 82px;
  background: #000;
  border-radius: 2px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.form__save-btn:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .form__save-btn {
    width: 358px;
    margin: 48px auto 37px;
    padding: 14px 124px 18px;
    font-size: 18px;
    line-height: 22px;
  }
}
